rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Fungsi pembantu
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Aturan untuk Koleksi Users
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isOwner(userId);
    }

    // Koleksi logs dan activities harus bisa ditulis oleh user yang login
    match /scan_logs/{logId} {
      allow read, create: if isSignedIn();
    }
    
    match /activities/{activityId} {
      allow read, create: if isSignedIn();
    }

    // Aturan default untuk koleksi lainnya agar pengembangan berjalan lancar
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}